.tooltip {
  margin: 100px 0 0;
  list-style: none;
}
.tooltip li {
  margin: 0 10px;
  float: left;
  position: relative;
  text-align: center;
}
.tooltip a {
  padding: 14px 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  width: 180px;
}
.tooltip li span {
  background: #ccfdff;
  border: 1px solid #dad9d9;
  height: 45px;
  position: absolute;
  top: -85px;
  left: 0;
  text-align: center;
  padding: 20px 12px 20px;
  z-index: 2;
  display: none;
}
body {
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;
}
