.box1{
  background-color: #5edfa2;
  position: relative;
  padding: 300px 300px;
  text-align: center;
  display:inline-block;
}

.box2{
  position: absolute;
  background-color: #235be9;
  padding: 50px;
  opacity: 0
}

.btn {
  display: inline-block;
  background: #0bd;
  padding: 15px;
  color: #fff;
  cursor: pointer;
}
